/* Buttons
/* ---------------------------------------------------------- */

.gh-button {
    display: inline-block;
    min-width: 75px;
    height: var(--height);
    padding: 0 2rem;
    border: 0;
    border-radius: var(--radius);
    cursor: pointer;
    font-family: var(--font-sans);
    font-size: 1.4rem;
    font-weight: 500;
    line-height: var(--height);
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    appearance: none;
    transition: 0.2s ease;
}

.gh-button.gh-button-fit {
    width: 100%;
}

.gh-button.gh-button-small {
    height: calc(var(--height) * 0.9);
    line-height: calc(var(--height) * 0.9);
    padding: 0 1.5rem;
    font-size: 1.2rem;
}

.gh-button.gh-button-large {
    height: calc(var(--height) * 1.2);
    line-height: calc(var(--height) * 1.2);
    padding: 0 2.5rem;
    font-size: 1.7rem;
}

.gh-button.gh-button-disabled,
.gh-button:disabled {
    pointer-events: none;
    opacity: 0.4;
}

.gh-button {
    color: var(--text);
    background-color: transparent;
    box-shadow: inset 0 0 0 1px var(--border);
}

.gh-button:hover {
    text-decoration: none;
    color: var(--accent);
    box-shadow: inset 0 0 0 1px var(--accent);
}

.gh-button.gh-button-primary {
    color: #fff;
    background-color: var(--accent);
    box-shadow: none;
}

.gh-button.gh-button-primary:hover {
    background-color: var(--accent-hover);
}
