{{!< default}}

{{#post}}
<article class="gh-article page-full {{post_class}}">
    <header class="gh-article-header">
        <h1 class="gh-article-title">{{title}}</h1>
    </header>

    <div class="gh-content">
        {{content}}
    </div>
</article>
{{/post}}
