/* Error Templates
/* ---------------------------------------------------------- */

.gh-error {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 2vmin;
}

.gh-error-content {
    flex: 1 0 auto;
    text-align: center;
}

.gh-error-code {
    margin: 0;
    font-size: 14vmin;
    color: var(--text);
}

.gh-error-description {
    max-width: 600px;
    margin: 0 auto;
    padding: 0 2rem;
    font-size: 4vmin;
    line-height: 1.2em;
    font-weight: 300;
    color: var(--text-muted);
}

.gh-error-link {
    display: block;
    margin-top: 4vmin;
    font-size: 1.6rem;
}

.gh-error-link a {
    color: var(--accent);
    text-decoration: none;
}

.gh-error-link a:hover {
    color: var(--accent-hover);
    text-decoration: underline;
}

.gh-error-stack {
    max-width: 600px;
    margin: 0 auto 0;
    padding: 8vmin 0;
    text-align: left;
}

.gh-error-stack-list {
    margin: 4vmin 0 0;
    font-size: 1.4rem;
}

.gh-error-stack-list > li {
    padding: 2rem 0;
    margin: 0;
    border-top: 1px solid var(--border);
}

.gh-error-stack-function {
    margin: 0 0 0.5em;
    font-size: 1.8rem;
    color: var(--color-error);
}
