@import "tailwindcss";
@plugin "@tailwindcss/typography";
@variant dark (&:where(.dark, .dark *));

@theme {
	--color-primary: #6366f1;
	--color-primary-light: #818cf8;
	--color-surface: #fafafa;
	--color-surface-dark: #18181b;
}
